### Combine All model prediction in one file

In [7]:
import pandas as pd
import numpy as np

In [8]:
veg1 = ['香蕉','洋香瓜','蓮霧','鳳梨','南瓜',
        '大蒜','青蔥','小白菜','芽菜類','木瓜']

veg2 = ['香蕉','洋香瓜-網狀紅肉','蓮霧-紅蓮霧','鳳梨-金鑽鳳梨','南瓜-木瓜形',
        '大蒜-蒜仁','青蔥-日蔥','小白菜-土白菜','芽菜類-黃豆牙','木瓜-網室紅肉']

models = ['LSTM1','LSTM2','ARIMA','Prophet']
Target = ['Price','3_day_return','price','3DayReturn','平均價','3_day_return']

In [629]:
# change vegetable class and predicted target
idx = 9
pred = 1
#############################################

path1 = './LSTM1_csv/2019_台北一_'+veg1[idx]+'_'+Target[pred]+'.csv'
model1 = pd.read_csv(path1)
path2 = './LSTM2_csv/'+veg2[idx]+'_'+Target[pred]+'.csv'
model2 = pd.read_csv(path2)
path3 = './ARIMA_csv/'+veg1[idx]+'_'+Target[pred+2]+'.csv'
model3 = pd.read_csv(path3)
path4 = './Prophet_csv/'+ veg2[idx]+'_'+Target[pred+4]+'.csv'
model4 = pd.read_csv(path4)
path5 = './LSTM2_csv/'+veg2[idx]+'_'+Target[pred]+'_fs.csv'
model5 = pd.read_csv(path5)

In [630]:
print(path1)
print(path2)
print(path3)
print(path4)
print(path5)

./LSTM1_csv/2019_台北一_木瓜_3_day_return.csv
./LSTM2_csv/木瓜-網室紅肉_3_day_return.csv
./ARIMA_csv/木瓜_3DayReturn.csv
./Prophet_csv/木瓜-網室紅肉_3_day_return.csv
./LSTM2_csv/木瓜-網室紅肉_3_day_return_fs.csv

In [631]:
model1 = model1.rename(columns = {'Price':'Price_'+str(idx),'3_day_return':'3_day_return_'+str(idx),
                                  'Price_pred':'LSTM1_'+str(idx),'3_day_return_pred':'LSTM1_'+str(idx)})

In [632]:
model1

           date  3_day_return_9    LSTM1_9
0    2019-01-01       39.037433  19.976370
1    2019-01-02       64.736842  48.814330
2    2019-01-03       40.465116  22.328590
3    2019-01-04       16.923077 -14.574517
4    2019-01-05       -4.792332 -27.266829
..          ...             ...        ...
293  2019-12-25       11.290323   7.584568
294  2019-12-26       -0.903614  -0.397143
295  2019-12-27       -0.895522 -49.157223
296  2019-12-28       -4.927536 -45.962986
297  2019-12-29       -0.911854 -19.793612

[298 rows x 3 columns]

In [633]:
# forward shift 1 day
for i in range(1, len(model2)):
    model2['DateTime'][len(model2)-i] = model2['DateTime'][len(model2)-i-1]

model2 = model2.iloc[1:]
model2 = model2[['DateTime','Predict']]
model2 = model2.rename(columns={'Predict':'LSTM2_'+str(idx),'DateTime':'date'})

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [634]:
model2

           date    LSTM2_9
1    2019-01-01  16.867496
2    2019-01-02  30.974411
3    2019-01-03  30.803978
4    2019-01-04  11.617219
5    2019-01-05  -7.837756
..          ...        ...
294  2019-12-25  -2.264066
295  2019-12-26   2.434832
296  2019-12-27   1.895239
297  2019-12-28  -6.949534
298  2019-12-29 -12.820897

[298 rows x 2 columns]

In [635]:
model3 = model3[['DateTime','predict']]
model3 = model3.rename(columns={'predict':'ARIMA_'+str(idx),'DateTime':'date'})

In [636]:
model3

           date    ARIMA_9
0    2019-01-01  13.044277
1    2019-01-02  14.215867
2    2019-01-03  10.353469
3    2019-01-04   5.435430
4    2019-01-05   1.109468
..          ...        ...
294  2019-12-26   4.393802
295  2019-12-27  -2.410720
296  2019-12-28  -7.423064
297  2019-12-29  -4.354354
298  2019-12-31  -1.302578

[299 rows x 2 columns]

In [637]:
model4 = model4[['DateTime','predict']]
model4 = model4.rename(columns={'predict':'Prophet_'+str(idx),'DateTime':'date'})

In [638]:
model4

           date  Prophet_9
0    2019-01-01  -0.725810
1    2019-01-02   0.080626
2    2019-01-03  -0.217475
3    2019-01-04  -4.146135
4    2019-01-05  -2.983827
..          ...        ...
291  2019-12-26  -3.721430
292  2019-12-27  -7.611605
293  2019-12-28  -6.351898
294  2019-12-29  -4.037886
295  2019-12-31  -0.960329

[296 rows x 2 columns]

In [639]:
# forward shift 1 day
for i in range(1, len(model5)):
    model5['DateTime'][len(model5)-i] = model5['DateTime'][len(model5)-i-1]

    
model5 = model5.iloc[1:]
model5 = model5[['DateTime','Predict']]
model5 = model5.rename(columns={'Predict':'LSTM2_fs_'+str(idx),'DateTime':'date'})

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [640]:
model5

           date  LSTM2_fs_9
1    2019-01-01   -3.280850
2    2019-01-02    0.091432
3    2019-01-03   22.244675
4    2019-01-04   57.563953
5    2019-01-05   62.905770
..          ...         ...
294  2019-12-25   -4.139800
295  2019-12-26    4.227355
296  2019-12-27    3.712247
297  2019-12-28   -3.256394
298  2019-12-29   -5.887742

[298 rows x 2 columns]

In [641]:
All_Predict = model1.set_index('date').join(model2.set_index('date')).join(model5.set_index('date'))\
                    .join(model3.set_index('date')).join(model4.set_index('date'))
All_Predict = All_Predict.reset_index()

In [642]:
All_Predict

,date,3_day_return_9,LSTM1_9,LSTM2_9,LSTM2_fs_9,ARIMA_9,Prophet_9
0,2019-01-01,39.037433,19.976370,16.867496,-3.280850,13.044277,-0.725810
1,2019-01-02,64.736842,48.814330,30.974411,0.091432,14.215867,0.080626
2,2019-01-03,40.465116,22.328590,30.803978,22.244675,10.353469,-0.217475
3,2019-01-04,16.923077,-14.574517,11.617219,57.563953,5.435430,-4.146135
4,2019-01-05,-4.792332,-27.266829,-7.837756,62.905770,1.109468,-2.983827
...,...,...,...,...,...,...,...
293,2019-12-25,11.290323,7.584568,-2.264066,-4.139800,1.890727,-3.372864
294,2019-12-26,-0.903614,-0.397143,2.434832,4.227355,4.393802,-3.721430
295,2019-12-27,-0.895522,-49.157223,1.895239,3.712247,-2.410720,-7.611605
296,2019-12-28,-4.927536,-45.962986,-6.949534,-3.256394,-7.423064,-6.351898
297,2019-12-29,-0.911854,-19.793612,-12.820897,-5.887742,-4.354354,-4.037886

In [643]:
All_Predict.to_csv('./All_Predict/All_Predict_'+veg2[idx]+'_'+Target[pred]+'.csv', index=False)

## --------------------------------------------------------------------------------------------------------------

### Put all kind of vegetable prediction into a file

In [650]:
idx = 0
pred = 1
all_predict = pd.read_csv('./All_Predict/All_Predict_'+veg2[idx]+'_'+Target[pred]+'.csv')
all_predict = all_predict.set_index('date')

In [651]:
for i in range(1,10):
    dataset = pd.read_csv('./All_Predict/All_Predict_'+veg2[i]+'_'+Target[pred]+'.csv')
    dataset = dataset.set_index('date')
    all_predict = all_predict.join(dataset, how='outer')

In [652]:
all_predict = all_predict.reset_index()
all_predict

,date,3_day_return_0,LSTM1_0,LSTM2_0,LSTM2_fs_0,ARIMA_0,Prophet_0,3_day_return_1,LSTM1_1,LSTM2_1,...,LSTM2_8,LSTM2_fs_8,ARIMA_8,Prophet_8,3_day_return_9,LSTM1_9,LSTM2_9,LSTM2_fs_9,ARIMA_9,Prophet_9
0,2019-01-01,-2.941176,12.699489,-2.699719,-0.579242,-0.185544,4.131940,-1.412429,22.030544,-16.458677,...,2.316310,1.469911,0.261587,-0.303947,39.037433,19.976370,16.867496,-3.280850,13.044277,-0.725810
1,2019-01-02,-5.395683,13.503502,-7.531986,-3.527646,0.260455,3.167573,-8.536585,15.129044,6.499587,...,1.298167,1.456303,0.261587,-1.396031,64.736842,48.814330,30.974411,0.091432,14.215867,0.080626
2,2019-01-03,1.486989,-5.430964,-6.410225,-1.674392,5.298045,0.806897,-1.618123,24.693531,-5.474234,...,0.968188,0.926596,0.261587,-1.498028,40.465116,22.328590,30.803978,22.244675,10.353469,-0.217475
3,2019-01-04,1.893939,3.563771,-2.438771,3.527061,6.077908,-1.523029,13.467049,59.267480,-21.129055,...,-1.847582,0.230119,0.261587,-1.084711,16.923077,-14.574517,11.617219,57.563953,5.435430,-4.146135
4,2019-01-05,11.787072,18.646378,-1.707166,6.730884,4.063551,-0.970798,43.333333,55.448696,-8.391176,...,-3.295929,-0.320416,0.261587,0.309924,-4.792332,-27.266829,-7.837756,62.905770,1.109468,-2.983827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,2019-12-25,8.750000,7.685295,2.320469,5.867174,8.794684,3.197643,14.326648,14.615886,-7.413050,...,1.510774,-0.370398,0.260721,-0.582079,11.290323,7.584568,-2.264066,-4.139800,1.890727,-3.372864
294,2019-12-26,4.294479,2.712766,3.485823,2.719435,1.131963,1.023290,28.358209,2.643274,7.949259,...,-0.992248,-0.508816,0.260721,-0.734777,-0.903614,-0.397143,2.434832,4.227355,4.393802,-3.721430
295,2019-12-27,-5.949008,-11.327789,-2.616146,-2.954477,-4.016639,-1.101259,24.157303,1.701463,12.757135,...,-1.445671,-0.394749,0.260721,-0.394503,-0.895522,-49.157223,1.895239,3.712247,-2.410720,-7.611605
296,2019-12-28,-6.321839,-4.028879,-4.989579,-3.850494,-3.859867,-0.348878,8.020050,-1.883283,7.907211,...,-1.323389,0.141231,0.263073,0.903421,-4.927536,-45.962986,-6.949534,-3.256394,-7.423064,-6.351898
297,2019-12-29,-5.294118,-9.353389,-8.044753,-2.744432,-2.220156,2.472809,-3.953488,10.774663,-0.039813,...,-1.063800,0.474131,0.263073,0.566293,-0.911854,-19.793612,-12.820897,-5.887742,-4.354354,-4.037886

In [653]:
# Deal with missing value after merge all tables
# Fill in missing value of Prophet with previous value
for i in range(len(all_predict)):
    for j in range(10):
        if j == 5: continue
        if pd.isnull(all_predict['Prophet_'+str(j)][i]):
            print(all_predict['date'][i],all_predict['Prophet_'+str(j)][i])
            all_predict['Prophet_'+str(j)][i] = all_predict['Prophet_'+str(j)][i-1]

2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-04 nan
2019-02-14 nan
2019-02-22 nan
2019-06-11 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-06-16 nan
2019-09-14 nan
2019-09-14 nan
2019-09-17 nan
2019-09-17 nan
2019-09-21 nan
2019-09-21 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-09-22 nan
2019-10-04 nan

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [654]:
# drop off values that is null values
for i in range(len(all_predict)):
    for j in range(10):
        all_predict = all_predict[all_predict[Target[pred]+'_'+str(j)].notna()]

In [655]:
all_predict.to_csv('all_prediction_'+Target[pred]+'.csv', index=False)